<section id="check-file">
    <div class="row">
        <div class="col-md-12">
            <form method="get">
                <label for="url_address">Podaj adres strony by zobaczyć listę obrazków</label>
                <input id="url_address" placeholder="Adres strony" type="url" name="url" style="width: 20%;" value="{{ Url }}" />
                lub
                <label for="url_file">Podaj pełny adres obrazka</label>
                <input id="url_file" placeholder="Pełnu adres pliku" type="url" name="name" style="width: 20%;" value="{{ Name }}" />
                <br />
                <button type="submit" class="btn-success">
                    Pobierz dane
                </button>
            </form>
        </div>
    </div>
    <table border="1px solid #000;">
        <thead>
        <tr>
            <td>
                Czas zmiany pliku
            </td>
            <td>
                Nazwa pliku
            </td>
            <td>
                Rozszeżenie pliku
            </td>
            <td>
                Nazwa pliku
            </td>
            <td>
                Folder
            </td>
            <td>
                Url pliku
            </td>
        </tr>
        </thead>
        <tbody>
        {% for ImageList in ImageList %}

            <tr>
                <td>
                    {% if ImageList.fileChangeTime is not null %}
                        {{ ImageList.fileChangeTime }}
                    {% else %}
                        Nie odnaleziono
                    {% endif %}
                </td>
                <td>
                    {{ ImageList.basename }}
                </td>
                <td>
                    {{ ImageList.extension }}
                </td>
                <td>
                    {{ ImageList.filename }}
                </td>
                <td>
                    {{ ImageList.dirname }}
                </td>
                <td>
                    {{ ImageList.url }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>